<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="canvas-container">
    <canvas #barCanvas></canvas>
  </div>
  <ion-card class="ion-margin-top">
    <ion-card-header>
      <ion-card-title>Listado de Obras</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-text-center ion-text-bold">
          <ion-col>Nombre Obra</ion-col>
          <ion-col>Dirección</ion-col>
          <ion-col>Cliente</ion-col>
          <ion-col>Estatus</ion-col>
          <ion-col>Fecha Inicio</ion-col>
          <ion-col>Responsable</ion-col>
        </ion-row>

        <ion-row *ngFor="let obra of obras">
          <ion-col>{{ obra.nombre_obra }}</ion-col>
          <ion-col>{{ obra.direccion }}</ion-col>
          <ion-col>{{ obra.cliente }}</ion-col>
          <ion-col>{{ obra.estatus }}</ion-col>
          <ion-col>{{ obra.fecha_inicio | date:'dd/MM/yyyy' }}</ion-col>
          <ion-col>{{ obra.responsable }}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
   <ion-buttons slot="start">
   <ion-button expand="full" color="primary" routerLink="/cliente" routerDirection="forward">
    Nuevo Cliente
    </ion-button>
     </ion-buttons>
       <ion-buttons slot="end">
      <ion-button expand="block" color="success" routerLink="/nueva-obra">
        Nueva Obra
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
